.search-countries{
    width: 700px;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 75px;
}

.countryCard {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}